# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
# Ignore Poetry virtual environment
.poetry/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Ignore environment-specific files
.env
.envrc

# Ignorer le dossier notebooks
notebooks/

# Ignorer pptx
*.pptx



# Ignorer fichiers .pem
*.pem